.item-wrapper{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 8rem;
    border: 2px solid black;
    padding: 1.5rem;
    width: 12rem;
    margin: 0px auto;
}

.itemName{
font-size: larger;
}

.itemQuantity{
    font-size: larger;
}

.change-quantity{
    padding: 13px;
    border-radius: 100%;
}

.add-item{
    background-color: aqua;
    color: white;
}

.remove-item{
    background-color: crimson;
    color: white;

}