.list-outer{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.list{
    border:  2px solid;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 60%;
    gap: 10px;
}
.list span{
    font-size: 30px;
}
.tweet-heading-edit{
    display: flex;
    justify-content: space-between;
}
.likes-createdAt{
    display: flex;
    justify-content: space-between;

}